<ion-content style="padding-top:50px">
  <ion-card class="public-state" *ngFor="let events of listEvents">
          
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/user.png" alt="">
      </ion-avatar>
      <h2>En Estado Beta</h2>
      <p class="date-public">{{events.created_at | date : 'dd MMM yyyy'}}</p>
    </ion-item>  
    <ion-card-content class="card-post">
      <img src="{{events.image}}" alt="">
    <div class="treeItems">
      <div class="day">
        <p>{{events.date_start | date : 'MMM'}}</p>
        <h4>{{events.date_start | date : 'dd'}}</h4>
      </div>
      <div class="name">
        <p class="nameInter">{{events.name}}</p>
        <p class="lugar">{{events.address}}</p>
      </div>
      <div class="button">
          <button ion-button class="button-inscribir" (click)="inscribe(events)" *ngIf="events.enrolled == null">Inscribirme</button>
          <button ion-button class="button-inscribir" (click)="inscribe2(events)" *ngIf="events.enrolled == 0" style="background:#f7412d !important;">Cancelado</button>
          <button ion-button class="button-inscribir" (click)="inscribeDelete(events)" *ngIf="events.enrolled == 1" style="background:black !important;"> <i class="fas fa-check" style="margin-right: 5px;"></i>Inscrito</button>
          <button ion-button class="button-inscribir" (click)="inscribe(events)" *ngIf="events.enrolled == 2" style="background:#fba852 !important;"> <i class="far fa-clock" style="margin-right: 5px;"></i>En espera</button>
      </div>
    </div>
  </ion-card-content>
  
    <ion-row>

        <button ion-button color="dark" clear style="margin-bottom: 8px;" [ngClass]=" {'active' :  events.liked == 1}" (click)="like(events)">
          <i class="far fa-thumbs-up"></i>
          <p>Like</p>
        </button>
        <button ion-button color="dark" clear style="border-right: 1px solid #efefef !important;margin-bottom: 8px;border-left: 1px solid #efefef !important;">
          <i class="far fa-comment"></i>
          <p>Comentar</p>
        </button>
        <button ion-button color="dark" clear style="margin-bottom: 8px;" (click)="share(events)">
          <i class="far fa-share-square"></i>
          <p>Compartir</p>
        </button>
    </ion-row>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/user.png" alt="">
      </ion-avatar>
      <h2>En Estado Beta</h2>
      <p class="date-public">{{events.created_at | date : 'dd MMM yyyy'}}</p>
    </ion-item> 
  </ion-card>

  
</ion-content>
