ion-header {
    width: 100%;
    height: 60px;
    background: white;
    //padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu {
        width: 50px;
        height: 50px;
        background: red;
    }
    ion-searchbar {
        border-radius: 35px !important;
        background-color: #f7f7f7 !important;
        width: 68%;
        padding: 0px !important;
        input {
            border-radius: 35px !important;
            background-color: #f7f7f7 !important;
            box-shadow: none !important;
        }
    }
}

.swiper-pagination-bullet-active {
    background: #888888;
}

.tab-button[aria-selected=true] .tab-button-icon , .tab-button[aria-selected=true]{
    color:rgb(141, 31, 136) !important;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: #b23fa7;
    z-index: 99999;
    padding: 20px 10px 0px 30px;
    .closeMenu {
        float: right;
        color: white;
    }

    h3 {
        font-size: 25px;
        color: white;
        margin: 0;
    }

    .logOut{
        height: 20px;
        width: auto;
        padding: 0;
        color: white;
        font-weight: 300;
    }

    img {
        width: 65px;
        border-radius: 50%;
        height: auto;
        margin-top: 50px;
        margin-bottom: 15px;
    }

    .container-menu-buttons {
        display: flex;
        flex-direction: column;
        margin-top: 75px;
        button {
            width: 150px;
            padding: 0;
            color: white;
            font-size: 24px;
            font-weight: 300;
            height: 19px;
            margin-bottom: 19px;
            span {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                text-transform: initial;                
            }
        }
    }
}

.check {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgba(212, 57, 135, 0.65), rgba(160, 67, 182, 0.65));;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .icon-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: white;
        font-size: 30px;
        p {
            margin: 0;
        }
        ion-icon {
            font-size: 102px;
            font-weight: 900;
        }
    }
}