page-reading {
    .scroll-content {
        margin-top: 69px;
        margin-bottom: 69px !important;
    }
    .card-post p a {
        font-weight: 300;
        font-size: 1.4rem;
        color: purple;
    }
}
