// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// @import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
// * {
//     font-family: 'Lato', sans-serif;
// }


@import "./assets/scss/fontawesome.scss";
@import "./assets/scss/solid.scss";
@import "./assets/scss/regular.scss";
@import "./assets/scss/brands.scss";


@font-face {
    font-family: HelveticaNeue;
    src: url(../assets/fonts/helvetica/HelveticaNeue-LightExt.woff) format("ttf");
    font-weight: 200
    }

@font-face {
    font-family: Avenir;
    src: url(../assets/fonts/Avenir/Avenir.ttf) format("ttf");
    font-weight: 200
}

@font-face {
    font-family: OldLondon;
    src: url(../assets/fonts/old_london/OldLondon.ttf) format("ttf");
    font-weight: 200
}

    body {
        font-family: HelveticaNeue;
    }
.user {
    @extend %fa-icon;
    @extend .fas;
  
    &:before {
      content: fa-content($fa-var-user);
    }
  }

.public-state {
    border-radius: 5px;
    margin: auto;
    margin-top: 17px !important;
    width: 90%;
    ion-row {
        flex-wrap: nowrap !important;
        align-items: center;
        button {
            margin: 0;
            width: 33.33%;
            border: 1px solid #e0e0e0;
            color: #a0a0a0;
            height: 32px;
            border-radius: 0px;
        }
        button  p {
            font-size: 11px;
            text-transform: capitalize;
            margin-left: 6px;
            color: #a0a0a0;
            margin-bottom: 0px;
        }
    }
}
ion-item {
    h2 {
        font-size: 14px;
    }
    .date-public {
        font-size: 11px;
    }
}
.card-post {
    text-align: left;
    p {
        font-weight: 300;
    }
    font-weight: 300;
}


.scroll-content {
    height: calc(100vh - 80px);
    padding-bottom: 0 !important;
}

.tabbar {
    background: rgba(248, 248, 248, 0.77) !important;
}